---
import { getCollection } from "astro:content";
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
//import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
  <main class="flex flex-col gap-20">
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      {
        presentation.profile && (
          <Image
            src={presentation.profile}
            class="w-1/4 self-center"
            alt="Your Profile"
            width="400"
            height="400"
             loading="lazy"
             decoding="async"
          />
        )
      }

      <div class="flex flex-col gap-8">
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}
        </h1>
        <p>
          <span>
        I’m a <span class="text-orange-500">French Full-Stack Developer & UX/UI Designer</span> based in the 
        <span class="text-orange-500">Paris area</span>.
      </span>
      <span class="block my-2">
        I have over <span class="text-orange-500">2 years</span> of experience building modern web applications.
      </span>


          <span class="block my-2">
            Currently, I specialize in using
            <span class="inline-flex w-fit items-center gap-2 rounded-md border border-neutral-800 bg-neutral-900 px-2 py-1 text-xs">
              <img src="/react.svg" alt="React Logo" class="w-4 h-4" />
              React.js 
           </span> and <span class="inline-flex w-fit items-center gap-2 rounded-md border border-neutral-800 bg-neutral-900 px-2 py-1 text-xs">
            <img src="/nodejs.svg" alt="Node.js Logo" class="w-4 h-4" />
            Node.js .
          </span>
        </p>
        <SocialLinks />
      </div>
    </article>
    
    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <p class="text-lg text-neutral-100">🌟​ - My skills</p>
      </header>
      
      {posts.length === 0 && <p></p>}

      <section class="flex flex-col gap-8 md:flex-row md:flex-wrap">

        <section class="grid grid-cols-2 gap-8 md:flex md:flex-wrap">

          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/react.svg" alt="react Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/nextjs.svg" alt="next.js Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/javascript.svg" alt="Javascript Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/typescript.svg" alt="typescript Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/tailwindcss.svg" alt="tailwind Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/sass.svg" alt="sass Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/expo.svg" alt="expo Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/nodejs.svg" alt="nodejs Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/golang.svg" alt="golang Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/docker.svg" alt="docker Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/python.svg" alt="python Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/axios.svg" alt="axios Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/mongodb.svg" alt="mongodb Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/photoshop.svg" alt="photoshop Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/adobe.svg" alt="adobe Logo" class="w-8 h-8">
            </div>
          </div>
          
          <div class="group flex max-w-sm flex-col gap-1 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400">
            <div class="flex w-full flex-col items-center justify-center gap-1 md:flex-row md:items-center">
              <img src="/figma.svg" alt="figma Logo" class="w-8 h-8">
            </div>
          </div>
   
        </section>
      </section>
    </article>

    <article class="flex flex-col gap-8">
      
      <header class="flex w-full flex-row justify-between gap-2">
        <p class="text-lg text-neutral-100">
          💻 - Selected Projects ({projects.length})
        </p>
        <Link href="/projets" label="More" isUnderline target="_self" />
      </header>
      {projects.length === 0 && <p></p>}

      <section class="flex flex-col gap-6">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <p class="text-lg text-neutral-100">📩 - Get in Touch</p>
      </header>
      <p>
        Send me an email at the following address : <Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        />, or connect with me on social media.
      </p>
      <SocialLinks />
    </article>
  </main>
  <p>©2025 Copyright : Nathan PINARD</p>
</Layout>
